{
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-class-properties"
      ],
      "only": [
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
    }
  }
}